<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<style>
    h2{
        text-align: center;
        margin: 200px 0 0 0;
        font-size: 50px;
        color: red;
    }
    .container{
        height: 100vh;
        width: 100%;
    }
  a{
      font-size: 30px;
      text-align: center;
  }
</style>
<body>
     
     {{>navbar}}
    
    <!-- main page -->

    <div class="container">
        <h2>404 Page Not Found</h2>
    </div>
        <a href="/">Go Back</a>

    <!-- footer -->
{{>footer}}
  

    <script src="https://kit.fontawesome.com/8385e410f4.js" crossorigin="anonymous"></script>   
</body>
</html>