<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <!-- main page -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left -->
                    <div class="col-md-6 col-12 main_header_left">
                        <figure>
                            <img src="./images/man.png"  alt="sam" class="img-fluid" title="sam">
                        </figure>
                    </div>
                    <!-- right -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to the weather app</p>
                        <h1>I Am A <span>Full Stack</span> Developer </h1>
                        <a href="https://www.linkedin.com/in/saurabh35/"><button>About Me</button></a>
                    </div>               
                </div>
            </div>
        </div>
    </div>    

    <!-- footer -->

   {{>footer}}

    <script src="https://kit.fontawesome.com/8385e410f4.js" crossorigin="anonymous"></script>   
</body>
</html>